body{
    background: #33334d;
}
#Paste_here{
	color:white;
}
#Welcome_msg{
	margin-top: -120px;
	color:white;
}
#message{
	background-color:#3b3535;
	margin-top: -130px; 
	margin-bottom: 10px;
	width:900px; 
	height: 400px;
	margin-left: -135px;
	color:white;
}
#message::Placeholder{
	color: white;
}
.ml-3.text-xl{
	color:white;
}
#top_Navigation{
	color:white;
}
#Summary_btn{
	border-radius:5rem;
	border-width: initial;
	width: fit-content;
}
.social-menu ul {
    position: center;
    top:50%;
    left:50%;
    padding:0;
    margin: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    margin-left: 70%;
}
.social-menu ul li {
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fa {
    font-size: 30px;
    line-height: 60px;
    transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover {
    color: #fff;

}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
    
}
.social-menu ul li a:hover {
    transform: translate(0,-10px);

}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #0077B5;

}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #fafafa;

}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #4285f4;

}

/* #summary_box{   */
    /* margin: 104px; */
    /* width: 992px; */
    /* height: 540px; */
/* } */
