<!Doctype html>
<html lang="eng">

<head>
  
  <meta charset="UTF-8">
  <link rel="icon" href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAADElEQVQI12P4//8/AAX+Av7czFnnAAAAAElFTkSuQmCC">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="static/style.css">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <title> </title>
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/fontawesome.min.css"
    integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">
</head>

<body>
  <header class="body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24" data-darkreader-inline-fill="" data-darkreader-inline-stroke=""
          style="--darkreader-inline-fill:none; --darkreader-inline-stroke:currentColor;">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl"><b>Make it shorT</b></span>
      </a>
    </div>
  </header>

  <section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-col text-center w-full mb-12">
        <p id="Welcome_msg" class="lg:w-2/3 mx-auto leading-relaxed text-base"><b>Welcome to Makeitshort<br>Save your
            time,learn fast and make
            it short</b></p>
      </div>
      <div class="lg:w-1/2 md:w-2/3 mx-auto">
        <div class="flex flex-wrap -m-2">
          <div class="p-2 w-1/2">
            <div class="relative">
            </div>
          </div>

          <div class="p-2 w-full">
            <div class="relative">
              <form action="{{ url_for('summary') }}" method="POST">
                <textarea id="message" name="message" placeholder="Paste your text here to summerize...!!!"
                  class="w-full bg-gray-100 bg-opacity-100 rounded border border-gray-400 focus:border-indigo-800 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 leading-6 transition-colors resize= none duration-200 ease-in-out"></textarea>
            </div>
          </div>
          <div class="p-2 w-full">
            <button type='submit' id=" Summary_btn"
              class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">
              Summary</button>
            </form>
          </div>

          <div class="social-menu">
            <ul>
              <li><a href="https://www.linkedin.com/in/mohit-punia-5a670b1b8" <i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://github.com/mpunia" <i class="fa fa-github"></i></a></li>
              <li><a href="mailto: m.punia.372@gmail.com" <i class="fa fa-envelope-square"></i></a></li>

            </ul>
          </div>

        </div>





      </div>
    </div>
    </div>
  </section>

</body>

</html>